<h1>編集画面</h1>
<!-- form_with部分 -->
<%= form_with model:@blog, local: true do |f| %>
<!--  @blogにはid番号の1レコード分のデータが入っている．  -->
<!--  保存後の処理はurlは省略されているが一覧画面(index)に飛ぶように設定されている  -->
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>カテゴリー</h4>
  <%= f.text_field :category %>
  <h4>本文</h4>
  <%= f.text_area :body %>
<!--  form_withを使用し、インスタンス変数を渡すとインスタンス変数内のモデル(データベースと常にやり取りしているためデータの取得が可能)を解読して各カラム名のデータを代入してくれる．-->
  <%= f.submit '保存' %>
<% end %>